<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/init.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/aboutus.css">
        <script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery.flexslider-min.js"></script>
    </head>
    <body>
    <!--顶部导航-->
    <% include temp/header.ejs%>
    <!--关于我们-->
    <div class="aboutus">
        <div class="aboutus-header">

        </div>
        <div class="abouts-text">
            <div class="abouts-text-content">
                <h1>到位简介</h1>
                <p>到位APP隶属于北京邻家科技有限公司，是中国领先的O2O上门服务直约平台。</p>
                <p>到位的名字寓意为“人到位+服务到位”，即连人与好服务。到位的使命，就是连接天下千万家优质的服务商，为用户提供一站式高品质上门服务。到位目前已开通了70多个主要城市，提供的服务涵盖了家政、按摩、维修、搬家、丽人、洗衣、养车、医护等数十个品类，入驻服务商超过2万家连接各行各业逾百万专业服务人员</p>
                <p>到位平台的特点是“服务多、上门快、双保障、全开放”。所有能提供优质上门服务的商家都可以申请入驻，共享到位平台千万用户。到位不自营任何服务，只专注于助力专业服务商向用户提供更好的服务、帮助用户直接约到好服务。对于用户，用到位找上门服务，总能有更多的选择、更多的优惠、更多的保障、更快的速度</p>
                <p>到位的愿景，是能引领未来人的生活方式，生活可以出门，一切好服务都能上门，让每个人都能足不出户、安心享受生活所需的各种好服务。</p>
            </div>
            <div class="abouts-text-content">
                <h1>公司简介</h1>
                <p>北京邻家科技有限公司（简称“邻家科技”）正式成立于2014年11月，公司主营业务为“到位”上门服务直约平台，致力于把“到位”打造成为未来中国最大的服务电商平台，连接天下好服务。</p>
                <p>公司创始团队具有超过10年的移动互联网广告及大流量运营经验，具有深厚的技术能力，在大数据和精准适配技术领域具有丰富的经验。公司现已获得某国际投资机构与国际上市公司投资，现已发展成为中国O2O上门服务行业最大的精准流量平台，和国内各个领域的数千家上门服务商家都已建立了紧密合作关系。</p>
            </div>
            <div class="abouts-text-content">
                <h1>联系我们</h1>
                <p>客服电话：4000-908-608 （工作时间：9:00 - 21:00）</p>
                <p>商务合作：010-64522010 （工作时间：周一至周五 9:00 - 18:00 法定假日除外）</p>
            </div>
        </div>
    </div>
    <!--底部-->
    <% include temp/footer.ejs%>





    <script type="text/javascript">

        /*顶部动画*/
        $(function(){
            $(window).scroll( function(ev) {
                /* ...do something... */
                var top = $(this).scrollTop();
                if (top > 70){
                    $('.nav').addClass('anim')
                } else {
                    $('.nav').removeClass('anim')
                }


            } )
        })
        /*禁止用户缩放网页*/
        var scrollFunc=function(e){
            e=e || window.event;
            if(e.wheelDelta && event.ctrlKey){//IE/Opera/Chrome
                event.returnValue=false;
            }else if(e.detail){//Firefox
                event.returnValue=false;
            }
        }
        /*注册事件*/
        if(document.addEventListener){
            document.addEventListener('DOMMouseScroll',scrollFunc,false);
        }//W3C
        window.onmousewheel=document.onmousewheel=scrollFunc;

    </script>
    </body>
</html>
