<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/init.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/loadApp.css">
    <script type="text/javascript" src="./js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./js/vendor/jquery.flexslider-min.js"></script>
</head>
    <body>
    <!--顶部导航-->
    <% include temp/header.ejs%>
    <!--content-->
    <div class="app-content">
        <!--banner图-->
        <div class="app-ban">
            <div class="app-ban-img">
                <img src="./img/loadApp/app-yong-ma.png" alt="">
                <div class="app-ban-text">
                    <div class="app-ban-text-top">
                        <a href="">iPhone下载</a>
                    </div>
                    <div class="app-ban-text-bottom">
                        <a href=""> Android下载</a>
                    </div>
                </div>
            </div>
        </div>
        <!--download-->
        <div class="download">
            <div class="down-img">
                <img src="./img/loadApp/xiazaiye-_05.jpg" alt="">
            </div>
            <p class="down-text">精选优质服务&nbsp; &nbsp;   全程品质保障</p>
            <ul class="down-list">
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_09.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>家政</p>
                        <p class="text">小时工/保姆/阿姨/月嫂</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_11.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>按摩</p>
                        <p class="text">中医推拿/油压/SPA
                            足疗保健</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_13.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>维修</p>
                        <p class="text">
                            手机维修/家电维修/电脑维修</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_09.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>家政</p>
                        <p class="text">小时工/保姆/阿姨/月嫂</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_11.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>按摩</p>
                        <p class="text">中医推拿/油压/SPA
                            足疗保健</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_13.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>维修</p>
                        <p class="text">
                            手机维修/家电维修/电脑维修</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_09.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>家政</p>
                        <p class="text">小时工/保姆/阿姨/月嫂</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_11.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>按摩</p>
                        <p class="text">中医推拿/油压/SPA
                            足疗保健</p>
                    </div>
                </li>
                <li class="down-list-item">
                    <div class="down-list-item-left">
                        <img src="./img/loadApp/xiazaiye-_13.jpg" alt="">
                    </div>
                    <div class="down-list-item-rigth">
                        <p>维修</p>
                        <p class="text">
                            手机维修/家电维修/电脑维修</p>
                    </div>
                </li>


            </ul>


        </div>
        <!--banner图2-->
        <div class="app-ban2">
            <div class="app-ban2-left">
                <img src="./img/loadApp/xiazaiye-_34.jpg" alt="">
                <p>轻松比价格    比品质    比速度</p>
            </div>
            <div class="app-ban2-right">
                <img src="./img/loadApp/xiazaiye-_31.jpg" alt="">
            </div>
        </div>
        <!--banner图3-->
        <div class="app-ban3">
            <div class="app-ban3-left">
                <img src="./img/loadApp/xiazaiye-_39.jpg" alt="">
            </div>
            <div class="app-ban3-right">
                <img src="./img/loadApp/xiazaiye-_03.jpg" alt="">
                <p>不满意重做    未成交100%退款</p>

            </div>
        </div>
        <!--banner图4-->
        <div class="app-ban4">
            <div class="app-ban4-left">
                <img src="./img/loadApp/xiazaiye-_45.jpg" alt="">
                <p>到位用户专享    好服务更便宜</p>
            </div>
            <div class="app-ban4-right">
                <img src="./img/loadApp/xiazaiye-_43.jpg" alt="">
            </div>
        </div>

    </div>
  <!--底部-->
    <% include temp/footer.ejs%>






    <script type="text/javascript">
        /*顶部动画*/
        $(function(){
          $(window).scroll( function(ev) {
              /* ...do something... */
            var top = $(this).scrollTop();
            if (top > 70){
              $('.nav').addClass('anim')
            } else {
              $('.nav').removeClass('anim')
            }


          } )
        })
        /*禁止用户缩放网页*/
        var scrollFunc=function(e){
          e=e || window.event;
          if(e.wheelDelta && event.ctrlKey){//IE/Opera/Chrome
            event.returnValue=false;
          }else if(e.detail){//Firefox
            event.returnValue=false;
          }
        }
        /*注册事件*/
        if(document.addEventListener){
          document.addEventListener('DOMMouseScroll',scrollFunc,false);
        }//W3C
        window.onmousewheel=document.onmousewheel=scrollFunc;
    </script>
    </body>
</html>
