<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/init.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
  <script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/vendor/gVerify.js"></script>
</head>
<body>
<!--注册和登陆-->
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <div class="login-wrap">
      <div class="login-header"></div>
      <div class="login-content">
        <form action="/api/login" method="post">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="输入昵称或手机号" name="phone">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" placeholder="输入密码" name="password">
          </div>
          <input type="submit" value="登陆">
        </form>
        <div class="login-foot">
          <span style="color: red"><%=msg%></span>
          <a class="login-foot-left" href="/forgetpsw">忘记密码</a>
          <a class="login-foot-right" href="/regist">注册</a>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-3"></div>
</div>

</body>
<script type="text/javascript">
  /*禁止用户缩放网页*/
  var scrollFunc=function(e){
    e=e || window.event;
    if(e.wheelDelta && event.ctrlKey){//IE/Opera/Chrome
      event.returnValue=false;
    }else if(e.detail){//Firefox
      event.returnValue=false;
    }
  }
  /*注册事件*/
  if(document.addEventListener){
    document.addEventListener('DOMMouseScroll',scrollFunc,false);
  }//W3C
  window.onmousewheel=document.onmousewheel=scrollFunc;
  //登录请求


</script>
</html>
