<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="到位，到家，上门服务，家政服务，上门维修，上门按摩，搬家，北京家政服务，上海家政服务">
	<meta name="description" content="到位是中国领先的O2O上门服务平台，汇聚上万种高品质到家服务。家政服务，上门按摩，上门维修，搬家，一站直约，安心到家。现已覆盖北京，上海，深圳，广州，杭州等70多个城市。">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/aboutus.css">
</head>
<body>
	<div class="aboutbanner"></div>
	<div class="abouttxt">
		<h3>到位简介</h3>
		<div class="content">
			<p>到位APP隶属于北京邻家科技有限公司，是中国领先的O2O上门服务直约平台。</p>
			<p>到位的名字寓意为“人到位+服务到位”，即连人与好服务。到位的使命，就是连接天下千万家优质的服务商，为用户提供一站式高品质上门服务。到位目前已开通了70多个主要城市，提供的服务涵盖了家政、按摩、维修、搬家、丽人、洗衣、养车、医护等数十个品类，入驻服务商超过2万家连接各行各业逾百万专业服务人员。</p>
			<p>到位平台的特点是“服务多、上门快、双保障、全开放”。所有能提供优质上门服务的商家都可以申请入驻，共享到位平台千万用户。到位不自营任何服务，只专注于助力专业服务商向用户提供更好的服务、帮助用户直接约到好服务。对于用户，用到位找上门服务，总能有更多的选择、更多的优惠、更多的保障、更快的速度。</p>
			<p>到位的愿景，是能引领未来人的生活方式，生活可以出门，一切好服务都能上门，让每个人都能足不出户、安心享受生活所需的各种好服务。</p>
		</div>
		<h3>联系我们</h3>
		<div class="content" style="border-bottom: none">
        <!--<p style="margin: 0">公司地址：北京市东城区和平里东街11号院航星园4号楼</p>
        <p>邮政编码：100013</p><!-->
        <p style="margin: 0">客服电话：4000-908-608 （工作时间：9:00 - 21:00）</p>
        <p>商务合作：010-64522010 （工作时间：周一至周五 9:00 - 18:00 法定假日除外）</p>
    </div>
	</div>
</body>
</html>