<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="到位，到家，上门服务，家政服务，上门维修，上门按摩，搬家，北京家政服务，上海家政服务">
	<meta name="description" content="到位是中国领先的O2O上门服务平台，汇聚上万种高品质到家服务。家政服务，上门按摩，上门维修，搬家，一站直约，安心到家。现已覆盖北京，上海，深圳，广州，杭州等70多个城市。">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/detail.css">
</head>
<body>
	<div class="service-center">
		<!--<div id="detailContent"></div>-->
		<!--<script id="detail" type="text/html">-->

			<!--{{each service val i}}-->
			<!--{{each val.goods item i}}-->
			<!--{{if item.detailId === detailId}}-->
			<!--<h2 class="h2">-->
				<!--所有分类-->
				<!--<i class="bright">></i>-->
				<!--<i id="categoryId">家政</i>-->
				<!--<i class="bright">></i>-->
				<!--<i class="cnav">{{item.CName}}</i>-->
			<!--</h2>-->
			<!--<div class="centerleft">-->
				<!--<div id="curatuo" class="ctop">-->
					<!--<img class="pic" src="{{item.imgUrl}}" alt="">-->
					<!--<span class="spm">-->
					<!--<i>{{item.CName}}</i>-->
					<!--<i>-->
						<!--价格-->
						<!--<b>{{item.price}}<em>元/次</em></b>-->
						<!--<b class="oldpic" style="display: none">原价<em>{{item.price.oldPrice}}</em></b>-->
					<!--</i>-->
					<!--<i style="display: none">-->
						<!--优惠<em class="youhui" style="display: none">2901</em><em class="youhui" style="display: none">10</em>-->
					<!--</i>-->
					<!--<i>-->
						<!--已售<em class="selled">{{item.hasSelled}}</em>-->
					<!--</i>-->
				<!--</span>-->
					<!--&lt;!&ndash; 扫一扫 &ndash;&gt;-->
					<!--<span class="spf">-->
          <!--<i id="qrcode">-->
          	<!--&lt;!&ndash; <canvas width="115" height="115"></canvas> &ndash;&gt;-->
          	<!--<img src="../img/down.png" alt="" style="width: 115px;height: 115px;">-->
          <!--</i>-->
          <!--<b>扫一扫</b>-->
          <!--<b>立即预约</b>-->
        <!--</span>-->
				<!--</div>-->

			<!--</div>-->


			<!--{{/if}}-->
			<!--{{/each}}-->
			<!--{{/each}}-->
		<!--</script>-->
		<h2 class="h2">
			所有分类
			<i class="bright">></i>
			<i id="categoryId">家庭保洁</i>
			<i class="bright">></i>
			<i class="cnav" id="cnav">骨科</i>
		</h2>
		<div class="centerleft">
			<div id="curatuo" class="ctop">
				<!--<div id="imgWrap"></div>-->
				<img class="pic" id="pic" src="" alt="">
				<span class="spm">
					<i id="CName"></i>
					<i>
						价格
						<b id="price"><em>元/次</em></b>
						<b class="oldpic" style="display: none">原价<em id="oldPrice">元</em></b>
					</i>
					<i >
						优惠<em class="youhui" style="display: none">2901</em><em class="youhui" id="favorable" style=""></em>
					</i>
					<i>
						已售<em class="selled" id="hasSelled"></em>
					</i>
				</span>
				<!-- 扫一扫 -->
				<span class="spf">
          <i id="qrcode">
          	<!-- <canvas width="115" height="115"></canvas> -->
          	<img src="../img/down.png" alt="" style="width: 115px;height: 115px;">
          </i>
          <b>扫一扫</b>
          <b>立即预约</b>
        </span>
			</div>
			<!-- 服务描述 -->
			<div class="cdown">
				<b>服务描述</b>
				<p id="servicePriceDescription" innertext="">
					时长：60分钟
					服务姿势：坐姿、卧姿

					适用介绍：
					适用由于工作压力大，缺乏锻炼或经常熬夜所致的常见疾病及亚健康人群。

					不宜人群：
					高血压、心脏病患者不宜；骨折不宜；孕妇、哺乳期不宜。

					功效介绍：
					养可医中医诊所采用传统中医按摩手法，快速缓解肌肉劳损，舒缓疲劳，疏通经络、放松精神、改善气血运行，提高人体的整体免疫能力，预防疾病，为身体增添活力。同时还可以改善睡眠质量。
					理疗流程：
					问诊-制定方案-中医手法按摩头部、颈部、上肢、背腰部、下肢部进行健康调理。"</p>时长：60分钟<br>服务姿势：坐姿、卧姿<br><br>适用介绍：<br>适用由于工作压力大，缺乏锻炼或经常熬夜所致的常见疾病及亚健康人群。<br><br>不宜人群：<br>高血压、心脏病患者不宜；骨折不宜；孕妇、哺乳期不宜。<br><br>功效介绍：<br>养可医中医诊所采用传统中医按摩手法，快速缓解肌肉劳损，舒缓疲劳，疏通经络、放松精神、改善气血运行，提高人体的整体免疫能力，预防疾病，为身体增添活力。同时还可以改善睡眠质量。<br><br>理疗流程：<br>问诊-制定方案-中医手法按摩头部、颈部、上肢、背腰部、下肢部进行健康调理。
				</p>
				<b>服务范围</b>
				<p>北京</p>
				<b>服务时间</b>
				<p>10:00-21:00
				 	<i>最近可预约时间:<em>08月08日 14:00</em></i>
				</p>
				<b>订购须知</b>
				<p id="orderingNotice" style="background: #fffcf1" innertext="">
					1.商家将在您下单后30分钟内确认接单；<br>2.订单确认后，修改订单或退款需提前2小时通知；<br>3.预约时间前2小时内退单将按30元/人扣取误工费；<br>4.如商家接单后爽约将全额退款并向您额外赔付30元；<br>5.为保障您的权益，所有费用请通过到位平台支付。
				</p>
				<b>商家简介</b>
				<p id="serviceDescription" innertext="">
					养可医中医诊所是一家具有医疗资质的专业中医养生连锁机构。其由上市公司--香港华夏医疗集团董事会董事翁嘉晋先生投资并创立，首创医养结合的运营模式；现于北京拥有两家直营店面，并以每季度开设一家新店的速度扩张。<br><br>养可医中医诊所专注于脊椎、三高、肝病等慢性病进行专业治疗与预防；定位为慢性病的前期预防和后期康复。针对不同类型、不同症状 用传统中医治疗方法：推拿、针灸、中药、拔罐、刮痧、艾灸等方式调理，通过内服外调的方式让骨骼、脏腑等达到年轻态，从而保持良好的身体状况，保障好的精神状态，达到专业医养的目的----延延益寿。！
				</p>
			</div>
		</div>
		<div class="centerright">
			<div class="rightct" >
        <h3>服务商</h3>
        <img src="" id="imgUrl">
        <p id="name"></p>
        <p>成功接单<i id="times"></i></p>
        <p>接单率<i id="rate"></i></p>
        <p>好评率<i id="score"></i></p>
      </div>
      <div class="erweima">
      	<img src="../img/shangjia/daowayApp.png">
      </div>
		</div>
	</div>

	<script src='../js/jquery-1.12.0.min.js'></script>
	<!--artTemplate模板-->
	<script src="../js/template-web.js"></script>
	<script>
    $(function() {
      //获取url中的参数
      function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
      }

      //接收URL中的参数booksId
      var detailId = getUrlParam('detailId');

//      localStorage.setItem(id,'id')
      console.log('detailId:' + detailId);
      //ajax发送请求数据
      $.get('/detail', function (data) {
        //        localStorage.id = id
        console.log(data)//services
//        var html = template('detail', data);
//        $('.detailContent').append(html);


        $.each(data.service, function (i, val) {
          //console.log(val.serviceId == detailId.slice(0,1))
          if (val.serviceId == detailId.slice(0,1)) {
              $('#name').text(val.serviceName)
							$('#times').text(val.time)
            	$('#score').text(val.score)
            	$('#imgUrl').attr('src',val.imgUrl)
					}
//					索引从0开始 id是从1开始
            $.each(val.goods, function (index, item) {
              if (detailId === item.detailId) {
//                图片路径
                $('#pic').attr('src',item.imgUrl)
                $('#oldPrice').text(item.oldPrice)
                $('#price').text(item.price)
                $('#CName').text(item.CName)
								$('#cnav').text(item.CName)
								$('#hasSelled').text(item.hasSelled)
								if(item.favorable){
                  $('#favorable').text(item.favorable)
                }else {
                  $('#favorable').parent().hide()
								}
              }
//              $('#imgWrap').append(str);
            })
					})
      });
	})

	</script>
</body>
</html>