<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="到位，到家，上门服务，家政服务，上门维修，上门按摩，搬家，北京家政服务，上海家政服务">
	<meta name="description" content="到位是中国领先的O2O上门服务平台，汇聚上万种高品质到家服务。家政服务，上门按摩，上门维修，搬家，一站直约，安心到家。现已覆盖北京，上海，深圳，广州，杭州等70多个城市。">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/downloadAPP.css">
</head>
<body>
	<div class="download">
		<div class="down">
			<dl>
				<dt>
					<img src="../img/download/app-yong-ma.png" alt="">
				</dt>
				<dd>
					<a href="###">
						<img src="../img/download/iph.png" alt="">iPhone下载
					</a>
				</dd>
				<dd>
					<a href="###">
						<img src="../img/download/and.png" alt="">Android下载
					</a>
				</dd>
			</dl>
		</div>
	</div>
	<div class="download-wrap">
		<div class="downloadbox">
			<img src="../img/download/xiazaiye-_05.jpg" alt="">
			<p>精选优质服务    全程品质保障</p>
			<ul class="listimg">
				<li>
					<img src="../img/download/xiazaiye-_09.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_11.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_13.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_18.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_19.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_20.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_24.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_25.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
				<li>
					<img src="../img/download/xiazaiye-_26.jpg" alt="">
					<span>
						<i>
							<b>家政</b>
						</i>
						<i>小时工/保姆/阿姨/月嫂</i>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- 服务速度 -->
	<div class="bggrey">
		<div class="dcenter">
			<div class="price">
				<img src="../img/download/xiazaiye-_34.jpg" alt="">
				<p>轻松比价格&nbsp;&nbsp;&nbsp;&nbsp;比品质&nbsp;&nbsp;&nbsp;&nbsp;比速度</p>
			</div>
			<img class="greyImgF" src="../img/download/xiazaiye-_31.jpg" alt="">
		</div>
	</div>
	<div class="bgwhite">
		<div class="bgf">
			<div class="dcenter">
				<img class="whiteImg" src="../img/download/xiazaiye-_39.jpg" alt="">
				<div class="txt">
					<img src="../img/download/xiazaiye-_03.jpg" alt="">
					<p>不满意重做&nbsp;&nbsp;&nbsp;&nbsp;未成交100%退款
            </p>
				</div>
			</div>
		</div>
	</div>
	<div class="bggrey">
    <div class="dcenter">
        <div class="price"><img src="../img/download/xiazaiye-_45.jpg"><p>到位用户专享&nbsp;&nbsp;&nbsp;&nbsp;好服务更便宜</p>
        </div>
        <img class="greyImgS" src="../img/download/xiazaiye-_43.jpg" >
    </div>
</div>
</body>
</html>