<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="到位，到家，上门服务，家政服务，上门维修，上门按摩，搬家，北京家政服务，上海家政服务">
	<meta name="description" content="到位是中国领先的O2O上门服务平台，汇聚上万种高品质到家服务。家政服务，上门按摩，上门维修，搬家，一站直约，安心到家。现已覆盖北京，上海，深圳，广州，杭州等70多个城市。">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fuwushang.css">
</head>
<body>
	<div class="htit">
    <div class="htit-center">
      <div class="htit-left">
        <b>云家政</b>
        <i>营业时间：<em>08:00-20:00</em></i>
        <i>最近可预约时间：<em>08月08日 14:00</em></i>
      </div>
      <div class="htit-right">
        <ul>
          <li><i>29019</i>成功接单<em>|</em></li>
          <li><i>96%</i>接单率<em>|</em></li>
          <li><i>86%</i>好评率</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /*导航*/ -->
  <div class="navtit">
    <ul>
      <li class="slibingsclor" data-to="move1"><a href="javascript:;">服务项目</a></li>
      <li id="infro" data-to="move2"><a href="javascript:;">商家简介</a></li>
      <li data-to="move3"><a href="#profile">用户评论</a></li>
    </ul>
	</div>
	<div class="service-center content">
		<div class="centerleft">
    <!-- 服务项目 -->
			<h3 id="move1">
        <span class="order">
          <i class="activity">服务项目</i>
        </span>
      </h3>

      <div class="boxtab xianshi">
        <div class="ctop ctopH">
          <img class="pic" src="../img/service2.jpg">
          <span class="spm spm2">
            <i>家庭保洁</i>
            <i style="color: #929292;">家庭保洁服务，2小时起订。 阿姨上门不带保洁工具，需用户自备...</i>
            <i class="price">
            	<b style="margin-left: 0">35<em>元/小时</em></b>
              <b class="oldpic">原价<em>50</em></b>
            </i>
          </span>
          <span class="spf">
            已售
            <i>37235</i>
          </span>
        </div>
      </div>
      <!-- /*分割行*/ -->
			<div id="intro2" class="spacing">
      </div>
      <!-- 介绍 -->
      <h3 id="move2">
        <span class="order"><i class="activity">商家简介</i></span>
      </h3>
      <div class="company">上海家谐网络科技有限公司<img src="../img/renzheng.jpg"></div>
      <p id="profile" class="profile" innertext="">
      	云家政是家政服务在线预订平台。我们的目标是让每个家庭都能获得诚信、便捷、有保障的家政服务。云家政拥有国内最大的实名认证家庭服务员数据库，目前平台上有超过100000名专业服务人员；数百个家政服务商，遍布全国主要城市各个社区。<br>云家政倡导简单、轻松的生活方式。通过把分散的家政服务能力汇集和分配，让中国家庭获得诚信、便捷、有保障的家政服务，解决日常生活中的麻烦事，把更多时间留给自己和家人，提高生活品质。
      </p>
      <div class="blank"></div>
      <!-- 评论 -->
      <h3 id="move3">
        <span class="order"><i class="activity">用户评论</i><em class="comm">(7790条评论)</em></span>
      </h3>
      <div id="commentDiv">
            <div class="conmentss">
                <img class="avatar" src="../img/0.jpg">
                <ul>
                  <li>沙漠王子</li>
                  <li>
                    <span id="star" class="star">
                    	<span class="noColor">
	                      <img src="../img/red_star.png">
	                      <img src="../img/red_star.png">
	                      <img src="../img/red_star.png">
	                      <img src="../img/red_star.png">
	                      <img src="../img/red_star.png">
                      </span>
                    </span>
                    <em class="time">2017-08-08</em>
                  </li>
                  <li class="commentdetail">准时到达，服务专业，非常好，服务认真干净</li>
                  <li class="commentimg"></li>
                  <li class="commentposition"><img src="../img/position.jpg" width="9" height="11">成都  锦江</li>
                </ul>
            </div>
      </div>
			<!-- 分页 -->
      <div class="getMore">
        <a class="pageup greycolor">&lt;上一页</a>
        <div id="showPage">
					<a class="num acv">1</a>
					<a class="num ">2</a>
					<a class="num ">3</a>
					<a class="num ">4</a>
					<a class="num ">5</a>
					<a class="num ">6</a>
					<a class="num ">7</a>
					<a class="num ">8</a>
					<a class="num ">9</a>
          ...
        </div>
        <a class="pagedown ">下一页&gt;</a>
      </div>
		</div>
		<div class="centerright">
			<div class="rightct" >
        <div class="erweima erweima2">
        	<i id="qrcode">
        		<canvas width="115px" height="115px" id="myCanvas"></canvas>
        		<!-- <img src="../img/shangjia/daowayApp.png" style="width: 115px;height: 115px;"> -->
        	</i>
	      </div>
	      <div class="erweima erweima3">
        	<img src="../img/shangjia/daowayApp.png">
	      </div>
      </div>    
		</div>
	</div>

  <!-- js交互 -->
  <script src="../js/jquery-1.12.0.min.js"></script>
  <script>
      
    $(function(){
      // 绘制canvas中img图片
      var canvas = document.getElementById('myCanvas')//获取到canvas标签
      // 不用jquery获取元素
      // var canvas = $('canvas')//获取不到canvas
      // console.log($('span')) //获取到span数组
      console.log(canvas)
      //简单地检测当前浏览器是否支持Canvas对象
      if(canvas.getContext){  
        var ctx = canvas.getContext("2d");
        var img = new Image();
        // 图片加载成功onload
        img.src = "../img/shangjia/daowayApp.png";
        img.onload = function(){
          ctx.drawImage(img,0,0,115,115);
        };
      }
     
      // $('.navtit ul li').click(function(){
      //   $(this).addClass('slibingsclor')
      //   $(this).siblings('li').removeClass('slibingsclor')
      //   let _id = $(this).data('to')
      //   let scroll = $('#' + _id).offset().top
      //   $('html,body').animate({scrollTop:scroll},300)
      // })
      // 事件委托
      $('.navtit').on('click','li',function(){
        // this指的是event.target
        // $(this).addClass('slibingsclor')
        // $(this).siblings('li').removeClass('slibingsclor')
        $(this).toggleClass('slibingsclor').siblings().removeClass('slibingsclor');
        let _id = $(this).data('to')
        let scroll = $('#'+_id).offset().top
        // 这里不能用window 执行动画 
        $('html,body').animate({scrollTop:scroll},300)
      })


//   ajax请求
      //ajax发送请求数据
      $.get('/detail', function (data) {
        //        localStorage.id = id
        console.log(data)//services
//        var html = template('detail', data);
//        $('.detailContent').append(html);


        $.each(data.service, function (i, val) {
          //console.log(val.serviceId == detailId.slice(0,1))
          if (val.serviceId == detailId.slice(0,1)) {
            $('#name').text(val.serviceName)
            $('#times').text(val.time)
            $('#score').text(val.score)
            $('#imgUrl').attr('src',val.imgUrl)
          }
//					索引从0开始 id是从1开始
          $.each(val.goods, function (index, item) {
            if (detailId === item.detailId) {
//                图片路径
              $('#pic').attr('src',item.imgUrl)
              $('#oldPrice').text(item.oldPrice)
              $('#price').text(item.price)
              $('#CName').text(item.CName)
              $('#cnav').text(item.CName)
              $('#hasSelled').text(item.hasSelled)
              if(item.favorable){
                $('#favorable').text(item.favorable)
              }else {
                $('#favorable').parent().hide()
              }
            }
//              $('#imgWrap').append(str);
          })
        })
      });

    })
  </script>
</body>
</html>
