<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="到位，到家，上门服务，家政服务，上门维修，上门按摩，搬家，北京家政服务，上海家政服务">
	<meta name="description" content="到位是中国领先的O2O上门服务平台，汇聚上万种高品质到家服务。家政服务，上门按摩，上门维修，搬家，一站直约，安心到家。现已覆盖北京，上海，深圳，广州，杭州等70多个城市。">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fuwu.css">
</head>
<body>
	<div class="h2">
		<div class="h2left">所有分类
      <i class="bright">></i>
      <i class="cnav">家庭保洁</i>
      <i class="bright">&gt;</i>
    </div>
	</div>
	<div class="navcenter">
		<div class="list1">
			<span class="first">分类</span>
      <div id="#list">
        <span id="all" class="clickAble red">全部</span>
        <span id="小时工" class="clickAble">小时工</span>
        <span id="开荒保洁" class="clickAble">开荒保洁</span>
        <span id="擦玻璃" class="clickAble">擦玻璃</span>
        <span id="深度保洁" class="clickAble" >深度保洁</span>
        <span id="家居养护" class="clickAble">家居养护</span>
        <span id="杀虫除螨" class="clickAble">杀虫除螨</span>
      </div>
    </div>
	</div>
	<!-- /*服务中心*/ -->
	<div class="service-center">
		<div class="centerleft">
			<h3>
        <span class="order">
          <i id="recommend" class="activity">推荐排序</i>
          <i id="sale">销量高
          	<img src="../img/fuwu_down2.jpg">
          </i>
          <i id="comment">好评多
          	<img src="../img/fuwu_down2.jpg">
          </i>
          <i id="aheadhours">上门快
           	<img src="../img/fuwu_down2.jpg">
          </i>
          <i id="price">价格低
          	<img src="../img/fuwu_down2.jpg">
          </i>
        </span>
        
        <span class="spnright">
        	<i id="page" class="cout">1</i>/<i id="pages">449</i>
        	<i class="pageup greycolor">上一页</i>
        	<i class="pagedown ">下一页</i>
        </span>
      </h3>

      <div class="boxtab xianshi" id='Searchresult'>
        <div class="ctop">
          <img class="pic" src="../img/service2.jpg">
          <span class="spm spm2">
            <i>鞋类13元任洗</i>
            <i>本商品可清洗：普通旅游鞋、帆布鞋、布鞋、光面皮鞋（磨砂翻毛鞋..</i>
            <i><b >13<em>元/双</em></b><b><em>15元</em></b></i>
            <i class="navtxt">
            	<b><img src="../img/home1.png">优洗汇</b><b>已售<em data-num="320">320</em></b><b>好评<em data-rate="100">100%</em></b>
            </i>
          </span>
          <span class="spf quickly">
            <i>最快上门</i>
            <i data-time="2">2小时</i>
          </span>
        </div>
        <div class="ctop">
          <img class="pic" src="../img/service1.jpg">
          <span class="spm spm2">
            <i>招牌Massage</i>
            <i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
            <i>
              <b style="margin-left: 0" data-price="135">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
              </b>
            </i>
            <i class="navtxt">
              <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em data-num="2538">2538</em></b><b>好评<em data-rate="98">98%</em></b>
            </i>
          </span>
          <span class="spf quickly">
            <i>最快上门</i>
            <i data-time="1">1小时</i>
          </span>
        </div>
      </div>
			
			<!-- 分页 这里显示分页 -->
      <div class="getMore" id="Pagination">
        <a class="pageup prev" >&lt;上一页</a>
        <div id="showPage">
					<a class="num">1</a>
					<a class="num ">2</a>
					<a class="num ">3</a>
					<a class="num ">4</a>
					<a class="num ">5</a>
					<a class="num ">6</a>
					<a class="num ">7</a>
					<a class="num ">8</a>
					<a class="num ">9</a>
          <!-- ... -->
        </div>
        <a class="pagedown ">下一页&gt;</a>
      </div>
      <div id="hiddenresult" style="display:none;">
      <!-- 列表元素 -->
      </div>
		</div>
		<!-- 右侧 -->
		<div class="centerright">
			<div class="rightct">
        <h3>服务商</h3>

        <div id="1" class="supports">
          <img  src="../img/service1.jpg">
          <p id="name">宜生到家</p>
          <p class="pline"><em>已成功接单<b>13004</b></em><em>好评<b>98%</b></em></p>
        </div>
        
        <div id="2" class="supports">
          <img src="../img/service3.jpg">
          <p id="serveName">云家政</p>
          <p class="pline">
	          <em>已成功接单<b>29019</b></em>
	          <em class="good">好评<b>86%</b></em>
          </p>
        </div>

      </div>
		</div>
	</div>
  <script src="../js/jquery-1.12.0.min.js"></script>
  <!-- 分页的插件 -->
  <script src="../js/jquery.pagination.js"></script>


  <script>
    $(function(){
      //此demo通过Ajax加载分页元素
      var initPagination = function() {
        var num_entries = $("#hiddenresult div.result").length;
        // 创建分页
        $("#Pagination").pagination(num_entries, {
          num_edge_entries: 1, //边缘页数
          num_display_entries: 9, //主体页数
          callback: pageselectCallback,
          items_per_page: 1, //每页显示1项
          prev_text: "上一页",
          next_text: "下一页"
        });
      };

      function pageselectCallback(page_index, jq){
        var new_content = $("#hiddenresult div.result:eq("+page_index+")").clone();
        $("#Searchresult").empty().append(new_content); //装载对应分页的内容
        return false;
      }
      //ajax加载  load.html虚拟路径
      $("#hiddenresult").load("load.html", null, initPagination);
      //  分类 点击事件的委托  除去第一个分类的span标签
      $('.list1').on('click','span:not(:eq(0))',function(){
        // $(this).siblings('span').removeClass('red')
        // $(this).addClass('red')
        $(this).toggleClass('red').siblings().removeClass('red')

      })
     
      //点击排序  事件委托
      $('.order i').click(function(){
        // $(this).siblings('i').removeClass('activity')
        // $(this).addClass('activity')
        // 链式调用的样式添加
        $(this).toggleClass('activity').siblings().removeClass('activity');

        // 获取数据数组
        // let arr = []
        // arr.push($('#Searchresult .ctop').data('price'))
        //  console.log(arr)
        // //根据价格（price）排序  
        // if($(this).attr('id') === 'price'){
        //   function sortprice(a,b){  
        //     // let priceA = a.data('price')
        //     // let priceB = b.data('price')
        //     return a-b
        //   }  
        //   arr.sort(sortprice)
        //   console.log(arr)
        // }
        
      })

      //利用jquery中的get方法获取json数据  
            // $.get("exp.json","",function(data){  
            //     var newdata=data.result  
            //     //根据价格（price）排序  
            //     function sortprice(a,b){  
            //        return a.price-b.price  
            //     }  
            //     //利用js中的sort方法  
            //     newdata.sort(sortprice);  
            //     //打印排序后的数据到控制台  
            //     console.log(newdata);  
            // })  

    })
  </script>
</body>
</html>
