<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="到位，到家，上门服务，家政服务，上门维修，上门按摩，搬家，北京家政服务，上海家政服务">
	<meta name="description" content="到位是中国领先的O2O上门服务平台，汇聚上万种高品质到家服务。家政服务，上门按摩，上门维修，搬家，一站直约，安心到家。现已覆盖北京，上海，深圳，广州，杭州等70多个城市。">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/information.css">
</head>
<body>
	<div class="banner"></div>
	<div class="info-one">
		<div class="one-center">
			<img src="../img/information1.jpg" alt="">
			<div>
				<b>1.“互联网+”很美，但获取用户太贵？</b>
				<p>到位平台累计用户量接近1000万，完全开放，供入驻商家免费共享</p>
			</div>
		</div>
	</div>
	<div class="info-two">
		<div class="two-center">
			<div>
				<b>2、服务只覆盖少数地区，打广告太浪费？</b>
				<p>按商家的服务区域定向展示，精准提升品牌，轻松获取高质量订单</p>
			</div>
			<img src="../img/information2.jpg" alt="">
		</div>
	</div>
	<div class="info-one">
		<div class="one-center">
			<img src="../img/information3.jpg" style="width: 133px;height: 178px;" alt="">
			<div>
				<b>3、服务太低频，用户留存低、回头太难？</b>
				<p>团结就是力量，低频+低频=高频，多种上门服务互推，回头客不难</p>
			</div>
		</div>
	</div>
	<!-- 提交表单 -->
	<div class="cooperation">
		提交<i>合作</i>信息
	</div>
	<!-- 表单 -->
	<form action="" method="post" id="jsForm">
		<div class="cooperation-center">
			<div class="tname">
				<i><em>*</em>公司名称：</i>
				<div>
					<input type="text" id="companyName" maxlength="30" placeholder="填写公司名称" name="serviceName">
				</div>
			</div>
			<div class="choose tname" style="clear: both;">
				<i><em>*</em>服务项目：</i>
				<b id="bb">
					<input type="checkbox" id="1" value="家庭保洁" name="detail"><label for="1" >家庭保洁</label>
					<input type="checkbox" id="2" value="上门按摩" name="detail"><label for="2">上门按摩</label>
					<input type="checkbox" id="3" value="维修"  name="detail"><label for="3">维修</label>
	        <input type="checkbox" id="4" value="家电清洗" name="detail"><label for="4">家电清洗</label>
	        <input type="checkbox" id="5" value="洗衣洗鞋"><label for="5">洗衣洗鞋</label>
	        <input type="checkbox" id="6" title="保姆月嫂" name="detail"><label for="6">保姆月嫂</label>
	        <br>
	        <input type="checkbox" id="7" value="搬家" style="margin-left:120px;" name="detail"><label for="7">搬家</label>
	        <input type="checkbox" id="8" value="上门养车" style="margin-left:28px; " name="detail"><label for="8">上门养车</label>
	        <input type="checkbox" id="9" value="鲜花" name="detail"><label for="9" >鲜花</label>
	        <input type="checkbox" id="10" value="美容美体" name="detail"><label for="10">美容美体</label>
	        <input type="text" id="note"><label for="note" name="detail">其他</label>
				</b>
			</div>
			<div class="tname">
				<i><em>*</em>联系电话：</i>
				<div>
					<input type="tel" id="contactPhone" maxlength="11" placeholder="填写联系电话" name="tel">
				</div>
			</div>
			<div class="tname">
				<i><em>*</em>联系人：</i>
				<div>
					<input type="text" id="contactName" maxlength="11" placeholder="填写联系人" name="person">
				</div>
			</div>
			<div class="tname">
				<i><em>*</em>服务覆盖城市：</i>
				<div>
					<input type="text" id="serviceCity" maxlength="11" placeholder="填写覆盖城市" name="city">
				</div>
			</div>
			<div class="tname">
				<i><em>*</em>日接单能力：</i>
				<div>
					<input type="text" id="dayOrders" maxlength="11" placeholder="填写日接单能力（请填写数字不能有汉字）" name="num">
				</div>
			</div>
			<div class="tname">
				<i>APP/公众账号：</i>
				<div>
					<input type="text" id="apporoffieceid" placeholder="填写APP/公众账号" name="app">
				</div>
			</div>
			<div class="tname">
				<i>公司网址：</i>
				<div>
					<input type="text" id="companyHref" placeholder="填写公司网址" name="add">
				</div>
			</div>
			<button class="tabbtn" type="submit">提交商户信息</button>
			<p class="p">招商电话：010-64522010 （工作时间：周一至周五 9:00 - 18:00 法定假日除外）</p>
		</div>
	</form>
	<!-- 表单验证 -->
	<script src="../js/jquery-1.12.0.min.js"></script>
	<script src='../js/jquery.validate.js'></script>
	<script>
		$.validator.setDefaults({  
			// 
    submitHandler: function() { 
    	// alert("submitted!");return false; 
    }
    // 如果这个参数为true，那么表单不会提交，只进行检查，调试时十分方便  
    // debug: true
		}); 
		$().ready(function() {  
    // validate signup form on keyup and submit  
    $("#jsForm").validate({  
      rules: {  
        'serviceName': {  
          required: true
        },  
        'detail': {  
          required: true
        },
        'tel': {  
          required: true
        },
        'person': {  
          required: true
        },
        'city': {  
          required: true
        },
        'name': {  
          required: true
        },
        'app': {  
          required: true
        },
        'add': {  
          required: true
        }
      },  
      messages: {  
        'serviceName': {  
          required: "公司名称不能为空"
        },  
        'detail': {  
          required: "服务项目不能为空"
        },
        'tel': {  
          required: "联系电话不能为空"
        },
        'person': {  
          required: "联系人不能为空"
        },
        'city': {  
          required: "服务覆盖城市不能为空"
        },
        'name': {  
          required: "日接单能力不能为空"
        },
        'app': {  
          required: "APP/公众账号不能为空"
        },
        'add': {  
          required: "公司网址不能为空"
        }
      },  
      /* 重写错误显示消息方法,以alert方式弹出错误消息 */  
      showErrors: function(errorMap, errorList) {  
          var msg = [];  
          $.each( errorList, function(i,v){  
            // msg += (v.message+"\r\n"); 
            msg.push(v.message) 
          });  
          if(msg!=""){
          	alert(msg[0]); 
          }  
      },  
      /* 失去焦点时不验证 */   
      onfocusout: false  
    });  
});  



	</script>
</body>
</html>