<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>css练习</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：60分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">125<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>108元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2528</em></b><b>好评<em>100%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：50分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">115<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2518</em></b><b>好评<em>99%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service3.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：100分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">105<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>258</em></b><b>好评<em>95%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：70分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0" data-price="138">138<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2508</em></b><b>好评<em data-rate="96">96%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i data-time="time">2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service3.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0" data-price="123">123<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em data-num="2518">2518</em></b><b>好评<em data-rate="96">96%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i data-time="4">4小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0" data-price="115">115<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em data-num="2538">2538</em></b><b>好评<em data-rate="98">98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i data-time="1">1小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0" data-price="120">120<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em data-num="258">258</em></b><b>好评<em data-rate="rate">98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i data-time="3">3小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service4.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service3.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service4.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service3.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service3.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service4.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service4.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service3.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>
<div class="result">
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service1.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
  <div class="ctop" >
    <img class="pic" src="../img/service2.jpg">
    <span class="spm spm2">
	<i>招牌Massage</i>
	<i style="color: #929292">时长：90分钟服务姿势：卧姿适用介绍:适用于工作繁忙...</i>
	<i>
	  <b style="margin-left: 0">135<em>元/次</em></b><b class="oldpic" style="display: inline-block"><em>168元</em>
	  </b>
	</i>
	<i class="navtxt">
	  <b><img src="../img/home1.png" width="18" height="17">宜生到家</b><b>已售<em>2538</em></b><b>好评<em>98%</em></b>
	</i>
	</span>
    <span class="spf quickly">
	<i>最快上门</i>
	<i>2小时</i>
	</span>
  </div>
</div>



<script>

</script>
</body>
</html>