<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
<div>
	<div class="container">
    <div class="login">
      <div class="content">
        <h2>到位商家后台</h2>
        <form action="" name="forms">
        	<div class="input-group">
			      <span class="input-group-addon icon-1"><i class="glyphicon glyphicon-user "></i></span>
			      <input type="text" class="form-control" id="username" placeholder="输入昵称或手机号">
			    </div>
			    <div class="input-group">
			      <span class="input-group-addon icon-2"><i class="glyphicon glyphicon-lock "></i></span>
			      <input type="password" class="form-control" id="upassword" placeholder="输入密码">
			    </div>
        </form>
        <br>
      </div>
      <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
      <!--  -->
        <button type="button" class="close">
          <span aria-hidden="true">×</span>
        </button>
   		</div>
      <!--注册登陆开始-->
      <div class="regist">
     		<button class="btn btn-primary btn-lg btn-block">登录</button>
    	</div>
      <div class="btnSign">
        <a class="pull-left" href="#/forgetpwd">忘记密码</a>
        <a class="pull-right" href="#/regist">注册</a>
      </div>
        <!--注册登陆结束-->
    </div>
	</div>
</div>
</body>
</html>