<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/regist.css">
</head>
<body>
<div>
	<div class="container">
    <div class="regist">
      <div class="content">
        <h2>注册</h2>
        <div class="control-group">
          <div class="input">
            <input class="form-control" maxlength="11" type="text" placeholder="请输入手机号">

            <div class="input-group">
              <img src="../img/code.jpg">
              <input type="text" class="form-control" maxlength="4" placeholder="请输入图片中的字符串">
              <span class="input-group-addon" style="cursor:pointer" >获取验证码</span>
              <span class="input-group-addon" style="display: none;" >重新发送60</span>
            </div>
            <input type="text" style="margin: 10px 0;" class="form-control" maxlength="4" placeholder="请输入验证码">
            <input class="form-control" type="password" id="password" placeholder="请输入密码">
          </div>
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="vehicle" value="Car" checked >
          <a href="###" target="_Blank">您确认并同意到位用户协议</a>
        </label>
      </div>
      <br>
      <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
        <!--  -->
        <button type="button" class="close">
          <span aria-hidden="true">×</span>
        </button>
   		</div>
      <!--注册登陆开始-->
      <div>
     		<button class="btn btn-primary btn-lg btn-block">注册</button>
    	</div>
      <div class="btnSign">
        <a href="#/login">已有账户？登录</a>
      </div>
        <!--注册登陆结束-->
    </div>
	</div>
</div>
</body>
</html>