<!--底部-->
<div class="foot">
    <h1>到位<span>服务</span>保障</h1>
    <h2>到位平台担保交易安全，交易未成功100%退款</h2>
    <div class="foot-select">
        <div class="foot-select-item"><i></i>优选服务</div>
        <div class="foot-select-item"><i></i>全程保障</div>
        <div class="foot-select-item"><i></i>安全无忧</div>
    </div>
    <div class="foot-bottom">
        <div class="bottom-left">
            热门城市
        </div>
        <ul class="bottom-right">
            <li><a href="">北京</a></li>
            <li><a href="">北京</a></li>
            <li><a href="">北京</a></li>
            <li><a href="">北京</a></li>
            <li><a href="">北京</a></li>
            <li><a href="">北京</a></li>
            <li><a href="">北京</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">南京</a></li>
            <li><a href="">南京</a></li>
            <li><a href="">南京</a></li>
            <li><a href="">南京</a></li>
            <li><a href="">南京</a></li>
            <li><a href="">南京</a></li>
            <li><a href="">南京</a></li>
            <li><a href="">天津</a></li>
            <li><a href="">天津</a></li>
            <li><a href="">天津</a></li>
            <li><a href="">天津</a></li>
            <li><a href="">天津</a></li>
            <li><a href="">天津</a></li>
            <li><a href="">深圳</a></li>
            <li><a href="">深圳</a></li>
            <li><a href="">深圳</a></li>
            <li><a href="">深圳</a></li>
            <li><a href="">深圳</a></li>
            <li><a href="">深圳</a></li>
        </ul>
    </div>
</div>
<div class="last">
    <p>合作伙伴</p>
    <ul class="last-list">
        <li class="last-item">
            <a href="">
                <img src="/img/last/lairen.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/lairen.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/lairen.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/lairen.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="./img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/qiaomao.png" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="./img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/qiaomao.png" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/qiaomao.png" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/qiaomao.png" alt="">
            </a>
        </li>
        <li class="last-item">
            <a href="">
                <img src="/img/last/meidao.jpg" alt="">
            </a>
        </li>
    </ul>
    <p class="text">©2015 版权所有 到位 daoway.com 京ICP备15001471号-1 北京邻家科技有限公司</p>

</div>