<div class="top">
    <div class="nav">
        <a class="logo"></a>
        <div class="top-wrap">
            <div class="nav-middle">
                <span class="nav-middle-image"></span>
                <a>北京 <span>切换城市</span></a>
            </div>
            <ul class="nav-list">
                <li class="nav-list-items "><a class="active" href="/">首页</a></li>
                <li class="nav-list-items"><a href="/loadApp">下载APP</a></li>
                <li class="nav-list-items"><a href="/servicer">服务商</a></li>
                <li class="nav-list-items"><a href="/shops">商家入驻</a></li>
                <li class="nav-list-items"><a href="/aboutus">关于我们</a></li>
                <li class="nav-list-items"><a href="/login">商家登录</a></li>
            </ul>
        </div>
    </div>
</div>